# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules
bower_components

# Build outputs
dist
build
.cache
.next
out
coverage

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.*
!.env.example

# IDE/editor files
.vscode
.idea
*.iml

# Misc
*.min.js
*.min.css
*.svg
public

# OS
.DS_Store
Thumbs.db